Source: ros-rolling-backward-ros
Section: misc
Priority: optional
Maintainer: Victor López <victor.lopez@pal-robotics.com>
Build-Depends: debhelper (>= 9.0.0), libdw-dev, ros-rolling-ament-cmake, ros-rolling-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-backward-ros
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libdw-dev, ros-rolling-ros-workspace
Description: The backward_ros package is a ros wrapper of backward-cpp from https://github.com/bombela/backward-cpp
