Source: ros-kinetic-backward-ros
Section: misc
Priority: extra
Maintainer: Victor López <victor.lopez@pal-robotics.com>
Build-Depends: debhelper (>= 9.0.0), libdw-dev, ros-kinetic-catkin, ros-kinetic-roscpp
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-backward-ros
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libdw-dev, ros-kinetic-roscpp
Description: The backward_ros package is a ros wrapper of backward-cpp from https://github.com/bombela/backward-cpp
